*{
    margin: 0;
    padding: 0;
}
:root{
    --font-color:#666666;
    --heading-color: #333333;
    --heading-font-size:22px;
    --hover-color: #ffaa30;
    --btn-color: #ffaa30;
}
.header-box{
    width: 100%;
    display: flex;
    margin-bottom: 1%;
}
.header-box-L{
   width: 25%;
   margin-left: 5%;
}
.header-box-L p{
    font-family: Poppins, sans-serif;
    font-size: 13px;
    line-height: 23px;
    padding-top: 14px;
    color: var(--font-color);
}
.header-box-mid{
    width: 40%;
    margin-left: 40%;
 }
 .header-box-mid ul{
    margin-right: 21px;
    display: flex;
    list-style: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    background: transparent;
    padding-top: 4%;
 }
 .header-box-mid ul li a{
     text-decoration: none;
     color: var(--font-color);
 }
 .header-box-mid ul li a:hover{
    color: #feb800;
 }
 .header-box-mid i{
     padding-right: 10px;
     padding-left: 40px;
     color: #424242;
 }
 .header-box-R{
    width: 20%;
    
 }
 .header-box-R ul{
    margin-right: 21px;
    display: flex;
    list-style: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    background: transparent;
    padding-top: 6%;
 }
 .header-box-R ul li:nth-child(2){
     padding-left: 10%;
 }
 .header-box-R ul li:nth-child(3){
     padding-left: 10%;
 }
 .header-box-R ul li:nth-child(4){
     padding-left: 10%;
 }
 .header-box-R ul li a{
    text-decoration: none;
    color: var(--font-color);
}
 .header-box-R i:hover{
    color: #feb800 !important;
}
.header-box-R ul li:nth-child(1) a i{
    margin-left: 2%;
    color: #4b6ea9;
}
.header-box-R ul li:nth-child(2) a i{
    color: #65bbf2;
}
.header-box-R ul li:nth-child(3) a i{
    color: #008bc2;
}
.header-box-R ul li:nth-child(4) a i{
    color: #f43522;
}
hr {
    color:#e5e5e5;
}
.menu-box{
    width: 100%;
    display: flex;
}
.menu-box-L{
    width: 20%;
  margin-left: 5%;
    margin-top: 3.5%;
 
}
.menu-box-R{
    width: 70%;
  margin-left: 17%;
    margin-top: 3%;
}
.menu-box i{
    display: none;
}
.menu-icon{
    display: none;
}
.navbar {
    overflow: hidden;
    /* background-color: #333; */
    color: var(--font-color);
  }
  
  .navbar a {
    float: left;
    font-size: 22px;
    margin-left: 5%;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--font-color);
  }
  .navbar i{
    font-size: 22px;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    margin-left: 5%;
  }
  
  .dropdown .dropbtn {
    font-size: 22px;  
    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    color: var(--font-color);
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    cursor: pointer;
    color: var(--hover-color);
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--heading-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: var(--hover-color);
    color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* .menu-box-R ul{
    display: flex;
    list-style: none;
}
.menu-box-R ul li{
    text-decoration: none;
    line-height: 38px;
    padding: 0 30px  0;
    outline: none;
    position: relative;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    color: var(--font-color);
} */
.main-box{
  background-image: url(../Image/1.jpg);
  height: 600px;
  width: 100%;
  margin-top: 2%;
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
  /* background-attachment: fixed; */
  /* animation: mymove 5s infinite ease-out; */

}
/* @keyframes mymove {
    0%   {zoom: 0%;}
    25%   {zoom: 105%;}
    50%   {zoom: 105%;}
    100%   {zoom: 105%;}
  } */
  .main-box h1{
      font-size: 60px;
      color: white;
    position: relative;
    padding-top: 10%;
    line-height: 80px;
    text-transform: uppercase;
  }
  .main-box p{
      font-size: 25px;
      padding-top: 1%;
      line-height: 30px;
      color: white;
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
  }
  #main-box-btn1{
      text-align: center;
      font-size: large;
      color: white;
      background-color: var(--btn-color);
      width: 15%;
      padding:1.2%;
      margin-right: 1%;
      margin-top: 5%;
      border: none;
      text-transform: uppercase;
  }
  #main-box-btn2{
      text-align: center;
      font-size: large;
      color: white;
      background-color: transparent;
      width: 12%;
      padding:1.2%;
      margin-right: 1%;
      margin-top: 5%;
      border: 3px white solid;
      text-transform: uppercase;
  }
  #main-box-btn1:hover,  #main-box-btn2:hover{
    background-color: var(--heading-color);
    cursor: pointer;
    border: none;
  }
  .choose-course-box{
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      display: flex;
      margin-top: 5%;
  }
  .choose-course-box-L{
      width: 45%;
  }
  .choose-course-box-R{
      width: 45%;
  }
  .choose-course-box-L h1{
      font-size: 40px;
      color: var(--heading-color);
  }
  .choose-course-box-L p{
      font-size: 20px;
      color: var(--font-color);
      padding-top: 5%;
      line-height: 30px;
  }
  .choose-course-box-L input[type=button] {
      text-transform: uppercase;
      width: 30%;
      padding: 2%;
      color: var(--btn-color);
      font-size: medium;
      margin-top: 5%;
      background-color: transparent;
      border: 3px var(--btn-color) solid;
  }
  .choose-course-box-L input[type=button]:hover{
   background-color: var(--btn-color);
   color: white;
   cursor: pointer;
  }
  .pop-cou-head{
      margin-left: 5%;
      margin-top: 10%;
  }
  .pop-cou-head h1{
    font-size: 40px;
    color: var(--heading-color);
  }
  #pop-cou-hz{
      margin-left: 5%;
      width: 5%;
     color: var(--heading-color);
  }
  .pop-cou-box{
      display: flex;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 5%;
      width: 90%;
  }
  .pop-cou-box-L{
      width:30%;
      height: 520px;
      border: 3px rgb(233, 228, 228) solid;
  }
  .pop-cou-box-M{
      width:30%;
      height: 520px;
      margin-left: 3%;
      border: 3px rgb(233, 228, 228) solid;
  }
  .pop-cou-box-R{
      width:30%;
      height: 520px;
      margin-left: 3%;
      border: 3px rgb(233, 228, 228) solid;
  }
  .pop-cou-box-L img,.pop-cou-box-M img,.pop-cou-box-R img{
      width: 405px;
  }
  .pop-cou-box-L h1,.pop-cou-box-M h1,.pop-cou-box-R h1{
      font-size: x-large;
      font-weight: normal;
      padding-top: 5%;
      padding-left: 5%;
  }
  .pop-cou-box-L span,.pop-cou-box-M span,.pop-cou-box-R span{
      padding-left: 5%;
      line-height: 40px;
      color: var(--font-color);
  }
  .pop-cou-box-L i ,.pop-cou-box-M i,.pop-cou-box-R i{
      color: var(--btn-color);
  }
  .pop-cou-box-L p,.pop-cou-box-M p,.pop-cou-box-R p{
      color: var(--font-color);
      padding-left: 5%;
      padding-right: 5%;
      line-height: 25px;
  }
  .pop-cou-box-L h6,.pop-cou-box-M h6,.pop-cou-box-R h6{
      margin-left: 10%;
      margin-right: 5%;
      font-size: large;
      display: inline-block;
      margin-top: 5%;
      color: var(--heading-color);
      font-weight: normal;
  }
  .pop-cou-box-L h5,.pop-cou-box-M h5,.pop-cou-box-R h5{
      margin-left: 11%;
      font-size: large;
      display: inline-block;
      margin-top: 5%;
      color: var(--font-color);
      font-weight: normal;
  }
   



  .found-info-box{
    background-image: url(../Image/digital-literacy-tech-instruction.webp);
   width: 100%;
   height: 700px;
   margin-top: 5%;
   background-repeat: no-repeat;
   background-size: cover;
}
.fi-sub-box{
    border-radius: 9px;
    background: #e7e7e8;
    opacity: 0.9;
    width: 35%;
    height: 550px;
    margin-left: 45%;
    margin-top: 6%;
    margin-bottom: 6%;
    position: absolute;
    cursor: e-resize;
    padding-left: 5%;
    padding-right: 5%;
   
}
.fi-sub-box i{
    font-size: xx-large;
}
.fi-sub-box p{
    font-size: 23px;
    padding-top: 30%;
   color: var(--heading-color);
}
.fi-sub-box h2{
    padding-top: 15%;
    text-align: center;
    color: var(--heading-color);
}
.fi-sub-box h3{
    text-align: center;
    color: var(--font-color);
    line-height: 40px;
    font-weight: lighter;
}




  /* ---footer-- */

  .footer{
    width: 100%;
    background-color: #151515;
    height: 55vh;
    display: flex;
    margin-top: 5%;
}
.low-footer{
    width: 100%;
    background-color: #151515;
    height: 20vh;
    margin-top: 0%;
}
.footer-left{
    margin-left: 5%;
    margin-top: 2%;
    line-height: 40px;
    width: 22%;
    color: rgb(134, 134, 134);
    line-break: strict;
}
.footer-left img{
    width: 280px;
}
#fl-loc{
    font-size: large;
    line-height: 30px;
}
#fl-phone{
    font-size: large;
    line-height: 30px;
}
#fl-mail{
    font-size: large;
    line-height: 30px;
}
#fl-time{
    font-size: large;
    line-height: 30px;
}
#fl-loc:hover{
   color: var(--hover-color);
    cursor: pointer;
}
#fl-phone:hover{
    color: var(--hover-color);
    cursor: pointer;
}
#fl-mail:hover{
    color: var(--hover-color);
    cursor: pointer;
}
#fl-time:hover{
    color: var(--hover-color);
    cursor: pointer;
}
.footer-left i{
    color: var(--hover-color);
}
.footer-mid1{
    margin-left: 5%;
    margin-top: 3%;
    width: 15%;
}
.footer-mid1 h2{
    color: white;
    margin-bottom: 2%;
}
.footer-mid1 ul li{
    color:rgb(134, 134, 134);
    font-size: larger;
    line-height: 40px;
}
.footer-mid1 ul li:hover{
    color: var(--hover-color);
    cursor: pointer;
}
.footer-mid2{
    margin-left: 5%;
    margin-top: 3%;
    width: 15%;
    margin-bottom: 2%;
}
.footer-mid2 h2{
    color: white;
}
.footer-mid2 ul li{
    color:rgb(134, 134, 134);
    font-size: larger;
    line-height: 40px;
}
.footer-mid2 ul li:hover{
    color: var(--hover-color);
    cursor: pointer;
}
.footer-right{
    margin-left: 5%;
    margin-top: 3%;
    width: 25%;
}
.footer-right h2{
    color: white;
}
.footer-right p{
    color:rgb(134, 134, 134);
    font-size: large;
}
.footer-right input[type=email]{
    height: 5vh;
    width: 60%;
    text-align: center;
    font-size: large;
    margin-top: 4%;
}
.footer-right input[type=button]{
    color: white;
    background-color: var(--hover-color);
    height: 6vh;
    width: 30%;
    margin-left: 2%;
}
.footer-right input[type=button]:hover{
   cursor: pointer;
}
.footer-right i{
    margin-top: 8%;
    margin-left: 5%;
    font-size: xx-large;
    color: white;
    transition: 0.2s linear;
}
.footer-right i:hover{
    margin-top: 8%;
    margin-left: 5%;
    font-size: xx-large;
    color: var(--hover-color);
    cursor: pointer;
}
#footer-hr{
    color: var(--hover-color);
}

@media screen AND (max-width:1287px){
    #fl-loc{
        font-size: medium;
    }
    #fl-phone{
        font-size: medium;
    }
    #fl-mail{
        font-size: medium;
    }
    #fl-time{
        font-size: medium;
    }
    
}
@media screen AND (max-width:1167px){
    .footer{
        display: flex;
        flex-direction: column;
        height: 210vh;
    }
    .footer-left{
      width: 90%;
    }
    .footer-mid1{
      width: 90%;
    }
    .footer-mid2{
      width: 90%;
    }
    .footer-right{
      width: 90%;
    }

}




/* ---index page-- */






/* ---media query--- */
@media screen And (max-width:1321px) {
    .pop-cou-box{
        flex-direction: column;
       
    }
    .pop-cou-box-L{
        width:80%;
        height: 620px;
        
    }
    .pop-cou-box-M,.pop-cou-box-R{
        width:80%;
        height: 620px;
        margin-left: 0%;
    }

}
@media screen And (max-width:1290px) {
    .header-box-L{
        width: 40%;
        margin-left: 0%;
     }
    .header-box-mid{
        width: 60%;
        margin-left: 0%;
     }
     #main-box-btn2{
        
       
        width: 15%;
        
    }

}
@media screen And (max-width:1000px){
    .fi-sub-box{
        width: 60%;
        height: 550px;
        margin-left: 10%;
        margin-top: 4%;
       
    }

}
@media screen And (max-width:815px) {
    .fi-sub-box{
        width: 70%;
        height: 550px;
        margin-left: 10%;
        margin-top: 4%;
        
    }
}
@media screen And (max-width:758px) {
    .header-box {
        flex-direction: column;
    }
    .header-box-L{
        width: 100%;
        margin-left: 30%;
        
     }
    .header-box-mid{
        width: 100%;
        margin-left: 30%;
     }
    .header-box-R{
        width: 100%;
        margin-left: 30%;
     }
     .header-box-mid i:nth-child(1){
       
        padding-left: 0px;
    }
     .header-box-mid i:nth-child(2){
       
        padding-left: 40px;
    }
}
@media screen And (max-width:1110px) {
    .menu-box-R{
        width: 70%;
      margin-left: 5%;
      margin-top: 2%;
    }
    .navbar a {
        margin-left: 2%;
    
      }
      
      .dropdown {
        margin-left: 2%;
      }
      .choose-course-box-L{
        width: 80%;
    }
      .choose-course-box-L input[type=button] {
       width: 40%;
        margin-top: 5%;
       
    }
      
}
@media screen And (max-width:742px) {
    .menu-box-R{
        width: 70%;
      margin-left: 5%;
      margin-top: 2%;
    }
    .menu-icon{
        display: block;
        
    }
    .menu-box i{
        display: block;
    }
    .navbar i{
        margin-left: 80%;
    }
    .navbar a {
        margin-left: 2%;
        display: none;
      }
      
      .dropdown {
        margin-left: 2%;
        display: none;
      }
      .choose-course-box-L{
        width: 80%;
    }
      .choose-course-box-L input[type=button] {
       width: 60%;
        margin-top: 5%;
       
    }
    #main-box-btn1{
          
        width: 60%;
    }
      
      
}
@media screen And (max-width:1140px) {
    #main-box-btn1{
          
        width: 25%;
    }
    #main-box-btn2{
          
        width: 25%;
    }
    .main-box h1{
        font-size: 40px;
      padding-top: 10%;
      line-height: 80px;
     
    }
    .main-box p{
        font-size: 20px;
        padding-top: 1%;
        line-height: 30px;
        color: white;
      position: relative;
      margin-left: 20%;
      margin-right: 20%;
    }
      
}
@media screen And (max-width:600px) {
    .main-box p{
       
        line-height: 30px;
    }
    .main-box h1{
       padding-top: 20%;
        line-height: 50px;
    }
    .choose-course-box-L h1{
        font-size: 30px;
        color: var(--heading-color);
    }
    .choose-course-box-L p{
        font-size: 15px;
        
    }
    .choose-course-box-L input[type=button] {
        width: 70%;
         margin-top: 5%;
        
     }
     #main-box-btn1{
          
        width: 40%;
    }
     #main-box-btn2{
          
        width: 35%;
    }
    
      
}




/* ----Course page-- */
.course-head-box{
    margin-top: 2%;
    margin-left: 5%;
}
.course-head-box h1{
  color: var(--heading-color);
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 5%;
}

.course-box{
    background-image: url(../Image/1.jpg);
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 10%;
    background-size: cover;
    background-position: center;
    margin-top: 5%;
    background-attachment: fixed;
    text-align: center;
}
.course-box h1{
  color: white;
  font-size: 70px;
  font-weight: 600;
  padding-top: 10%;
}




/* ---About Page-- */



.about-box{
    background-image: url(../Image/1.jpg);
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 10%;
    background-size: cover;
    background-position: center;
    margin-top: 5%;
    background-attachment: fixed;
    text-align: center;
}
.about-box h1{
  color: white;
  font-size: 45px;
  font-weight: 600;
  padding-top: 10%;
}

.about-main-box{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.about-main-box-L{
    width: 60%;
    height: 80vh;
}
.about-main-box-R{
    width: 40%;
    height: 80vh;
   
}
.about-main-box-L h1{
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
}
.about-main-box-L p{
    font-family: "Montserrat", sans-serif;
    margin-top: 3%;
    line-height: 30px;
    font-size: medium;
   color: var(--font-color);
   
}
.about-main-box-L ul{
  list-style: none;
  font-family: "Montserrat", sans-serif;
  margin-top: 3%;
  line-height: 40px;
  font-size: medium;
  color: var(--font-color);

}
.about-main-box-L ul li i{
    color: var(--heading-color);
   margin-right: 2%;
   font-size: medium;
   
}
.about-main-box-R img{
    margin-left: 10%;
    height: 500px;
}


/* ---teacher-- */


.about-teach-box{
    margin-top: 2%;
    margin-left: 8%;
}
.about-teach-box h1{
  color: var(--heading-color);
  font-size: 40px;
  font-weight: 600;
  padding-top: 10%;
}


.team-main-box{
    width: 90%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    display: flex;
    
}
.team-main-box1{
   width: 22%;
   height: 520px;
  
}
.team-main-box1 img,.team-main-box2 img,.team-main-box3 img,.team-main-box4 img{
    width: 270px;
    height: 270px;
}
.team-main-box1 h2,.team-main-box2 h2,.team-main-box3 h2,.team-main-box4 h2{
    padding: 10%;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    font-weight: lighter;
    font-size: x-large;
    color: var(--font-color);
}
.team-main-box1 > #fb,.team-main-box2 > #fb,.team-main-box3 > #fb,.team-main-box4 > #fb{
    margin-left: 10%;
    color: #4b6ea9;
    border-radius: 100%;
    font-size: large;
    border: 1px #4b6ea9 solid;
    padding: 2%;
}
.team-main-box1 > #twit,.team-main-box2 > #twit,.team-main-box3 > #twit,.team-main-box4 > #twit{
    margin-left: 2%;
    color: #65bbf2;
    border-radius: 100%;
    font-size: large;
    border: 1px #65bbf2 solid;
    padding: 2%;
}
.team-main-box1 > #in,.team-main-box2 > #in,.team-main-box3 > #in,.team-main-box4 > #in{
    margin-left: 2%;
    color: #008bc2;
    border-radius: 100%;
    font-size: large;
    border: 1px #008bc2 solid;
    padding: 2%;
}
.team-main-box1 > #ytube,.team-main-box2 > #ytube,.team-main-box3 > #ytube,.team-main-box4 > #ytube{
    margin-left: 2%;
    color: #f43522;
    border-radius: 100%;
    font-size: large;
    border: 1px #f43522 solid;
    padding: 2%;
}
.team-main-box1 p,.team-main-box2 p,.team-main-box3 p,.team-main-box4 p{
    font-size: large;
    padding-top: 5%;
    padding-left: 10%;
    color: var(--font-color);
}
.team-main-box1 p i,.team-main-box2 p i,.team-main-box3 p i,.team-main-box4 p i{
    padding-right: 3%;
}
.team-main-box2,.team-main-box3,.team-main-box4{
   width:22%;
   margin-left: 3%;
   height: 400px;
   
}
.team-main-box1 img:hover,.team-main-box2 img:hover,.team-main-box3 img:hover,.team-main-box4 img:hover{
    zoom: 105%;
    
}
.team-main-box1 #fb:hover,.team-main-box1 #twit:hover,.team-main-box1 #in:hover
,.team-main-box1 #ytube:hover,.team-main-box2 #fb:hover,.team-main-box2 #twit:hover,
.team-main-box2 #in:hover,.team-main-box2 #ytube:hover,.team-main-box3 #fb:hover,
.team-main-box3 #twit:hover,.team-main-box3 #in:hover,.team-main-box3 #ytube:hover,
.team-main-box4 #fb:hover,.team-main-box4 #twit:hover,.team-main-box4 #in:hover,
.team-main-box4 #ytube:hover{
  cursor: pointer;
  color: var(--hover-color);
}
.team-main-box1 p:hover,.team-main-box2 p:hover,.team-main-box3 p:hover,.team-main-box4 p:hover{
    color: var(--hover-color);
    cursor: pointer;
}




.found-info-box{
    background-image: url(../Image/digital-literacy-tech-instruction.webp);
   width: 100%;
   height: 700px;
   margin-top: 5%;
   background-repeat: no-repeat;
   background-size: cover;
}
.fi-sub-box{
    border-radius: 9px;
    background: #e7e7e8;
    opacity: 0.9;
    width: 35%;
    height: 550px;
    margin-left: 45%;
    margin-top: 6%;
    margin-bottom: 6%;
    position: absolute;
    cursor: e-resize;
    padding-left: 5%;
    padding-right: 5%;
   
}
.fi-sub-box i{
    font-size: xx-large;
}
.fi-sub-box p{
    font-size: 23px;
    padding-top: 30%;
   color: var(--heading-color);
}
.fi-sub-box h2{
    padding-top: 15%;
    text-align: center;
    color: var(--heading-color);
}
.fi-sub-box h3{
    text-align: center;
    color: var(--font-color);
    line-height: 40px;
    font-weight: lighter;
}

.certifi-head-box{
    margin-top: 2%;
    margin-left: 8%;
}
.certifi-head-box h1{
  color: var(--heading-color);
  font-size: 40px;
  font-weight: 600;
  padding-top: 5%;
}
.certifi-box{
    margin-top: 2%;
    margin-left: 8%;
    width: 90%;
    display: flex;
}
.certifi-box-L,.certifi-box-R{
    margin-top: 5%;
    margin-left: 25%;
    width: 20%;
    height: 300px;
    
}
.certifi-box-L h4,.certifi-box-R h4{
    color: var(--font-color);
    padding-top: 10%;
    text-align: center;
    font-size: x-large;
    font-weight: 100;
}
.certifi-box-R {
    margin-left: 5% !important;
}




/* ---media query-- */

@media screen And (max-width:1230px) {
    .about-teach-box{
        margin-top: 40%;
        margin-left: 35%;
    }
    .team-main-box{
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 3%;
    }
    .team-main-box1{
        width: 20%;
    }
    .team-main-box2,.team-main-box3,.team-main-box4{
        margin-left: 90px;
        width: 20%;
    }
    .certifi-box{
        display: flex;
        flex-direction: column;
       justify-content: center;
    }
    .certifi-box-L{
      
        margin-top: 5%;
        margin-left: 25%;
        width: 80%;
        height: 300px;
    }
    .certifi-box-R{
      
        margin-top: 5%;
    margin-left: 25% !important;
    width: 80%;
    height: 300px;
    }
    .certifi-box-L h4,.certifi-box-R h4{
        padding-left: 5%;
        padding-top: 5%;
        text-align: left;
    }

}
@media screen And (max-width:1000px) {
    .about-main-box-L{
        width: 60%;
        height: 90vh;
    }
    .about-teach-box{
        margin-top: 40%;
        margin-left: 35%;
    }
    .team-main-box{
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 3%;
    }
    .team-main-box{
        flex-direction: column;
        align-items: center;
        margin-left: 20%;
    }
    .team-main-box1{
        margin-left: 10%;
    }
    .team-main-box1,.team-main-box2{
        
        width: 80%;
        height: 530px;
    }
    .team-main-box3,.team-main-box4{
        width: 80%;
        height: 530px;
    }
    .team-main-box1 h2,.team-main-box2 h2,.team-main-box3 h2,.team-main-box4 h2{
        padding: 5%;
        padding-top: 1% !important;
        padding-bottom: 2% !important; 
    }
    .team-main-box1 > #fb,.team-main-box2 > #fb,.team-main-box3 > #fb,.team-main-box4 > #fb{
        margin-left: 5%;
        padding: 1%;
    }
    .team-main-box1 > #twit,.team-main-box2 > #twit,.team-main-box3 > #twit,.team-main-box4 > #twit{
        margin-left: 1%;
        color: #65bbf2;
        border-radius: 100%;
        font-size: large;
        border: 1px #65bbf2 solid;
        padding: 1%;
    }
    .team-main-box1 > #in,.team-main-box2 > #in,.team-main-box3 > #in,.team-main-box4 > #in{
        margin-left: 1%;
        color: #008bc2;
        border-radius: 100%;
        font-size: large;
        border: 1px #008bc2 solid;
        padding: 1%;
    }
    .team-main-box1 > #ytube,.team-main-box2 > #ytube,.team-main-box3 > #ytube,.team-main-box4 > #ytube{
        margin-left: 1%;
        color: #f43522;
        border-radius: 100%;
        font-size: large;
        border: 1px #f43522 solid;
        padding: 1%;
    }
    .team-main-box1 p,.team-main-box2 p,.team-main-box3 p,.team-main-box4 p{
        padding-left: 5%;
       padding-top: 2%;
    }

    .fi-sub-box{
        width: 60%;
        height: 550px;
        margin-left: 10%;
        margin-top: 4%;  
    }
}
@media screen And (max-width:815px) {
    .fi-sub-box{
        width: 70%;
        height: 550px;
        margin-left: 10%;
        margin-top: 4%;
       
       
    }
}
@media screen And (max-width:680px) {
    .about-main-box-L{
        width: 60%;
        height: 130vh;
    }
}

@media screen And (max-width:550px) {
    .about-main-box-L{
        width: 60%;
        height: 170vh;
    }
}




/* ---team--- */


.team-box{
    background-image: url(../Image/1.jpg);
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 10%;
    background-size: cover;
    background-position: center;
    margin-top: 2%;
    background-attachment: fixed;
    text-align: center;
}
.team-box h1{
  color: white;
  font-size: 45px;
  font-weight: 600;
  padding-top: 10%;
}
.team-main-box{
    width: 90%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    display: flex;
    
}
.team-main-box1{
   width: 22%;
   height: 520px;
  
}
.team-main-box1 img,.team-main-box2 img,.team-main-box3 img,.team-main-box4 img{
    width: 270px;
    height: 270px;
}
.team-main-box1 h2,.team-main-box2 h2,.team-main-box3 h2,.team-main-box4 h2{
    padding: 10%;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    font-weight: lighter;
    font-size: x-large;
    color: var(--font-color);
}
.team-main-box1 > #fb,.team-main-box2 > #fb,.team-main-box3 > #fb,.team-main-box4 > #fb{
    margin-left: 10%;
    color: #4b6ea9;
    border-radius: 100%;
    font-size: large;
    border: 1px #4b6ea9 solid;
    padding: 2%;
}
.team-main-box1 > #twit,.team-main-box2 > #twit,.team-main-box3 > #twit,.team-main-box4 > #twit{
    margin-left: 2%;
    color: #65bbf2;
    border-radius: 100%;
    font-size: large;
    border: 1px #65bbf2 solid;
    padding: 2%;
}
.team-main-box1 > #in,.team-main-box2 > #in,.team-main-box3 > #in,.team-main-box4 > #in{
    margin-left: 2%;
    color: #008bc2;
    border-radius: 100%;
    font-size: large;
    border: 1px #008bc2 solid;
    padding: 2%;
}
.team-main-box1 > #ytube,.team-main-box2 > #ytube,.team-main-box3 > #ytube,.team-main-box4 > #ytube{
    margin-left: 2%;
    color: #f43522;
    border-radius: 100%;
    font-size: large;
    border: 1px #f43522 solid;
    padding: 2%;
}
.team-main-box1 p,.team-main-box2 p,.team-main-box3 p,.team-main-box4 p{
    font-size: large;
    padding-top: 5%;
    padding-left: 10%;
    color: var(--font-color);
}
.team-main-box1 p i,.team-main-box2 p i,.team-main-box3 p i,.team-main-box4 p i{
    padding-right: 3%;
}
.team-main-box2,.team-main-box3,.team-main-box4{
   width:22%;
   margin-left: 3%;
   height: 400px;
   
}
.team-main-box1 img:hover,.team-main-box2 img:hover,.team-main-box3 img:hover,.team-main-box4 img:hover{
    zoom: 105%;
    
}
.team-main-box1 #fb:hover,.team-main-box1 #twit:hover,.team-main-box1 #in:hover
,.team-main-box1 #ytube:hover,.team-main-box2 #fb:hover,.team-main-box2 #twit:hover,
.team-main-box2 #in:hover,.team-main-box2 #ytube:hover,.team-main-box3 #fb:hover,
.team-main-box3 #twit:hover,.team-main-box3 #in:hover,.team-main-box3 #ytube:hover,
.team-main-box4 #fb:hover,.team-main-box4 #twit:hover,.team-main-box4 #in:hover,
.team-main-box4 #ytube:hover{
  cursor: pointer;
  color: var(--hover-color);
}
.team-main-box1 p:hover,.team-main-box2 p:hover,.team-main-box3 p:hover,.team-main-box4 p:hover{
    color: var(--hover-color);
    cursor: pointer;
}


/* ---media query-- */

@media screen And (max-width:1230px) {
    .team-main-box{
        margin-left: 0%;
        margin-right: 0%;
    }
    .team-main-box1{
        width: 20%;
    }
    .team-main-box2,.team-main-box3,.team-main-box4{
        margin-left: 90px;
        width: 20%;
    }
}
@media screen And (max-width:1000px) {
    .team-main-box{
        flex-direction: column;
        align-items: center;
        margin-left: 20%;
    }
    .team-main-box1{
        margin-left: 10%;
    }
    .team-main-box1,.team-main-box2{
        
        width: 80%;
        height: 530px;
    }
    .team-main-box3,.team-main-box4{
        width: 80%;
        height: 530px;
    }
    .team-main-box1 h2,.team-main-box2 h2,.team-main-box3 h2,.team-main-box4 h2{
        padding: 5%;
        padding-top: 1% !important;
        padding-bottom: 2% !important; 
    }
    .team-main-box1 > #fb,.team-main-box2 > #fb,.team-main-box3 > #fb,.team-main-box4 > #fb{
        margin-left: 5%;
        padding: 1%;
    }
    .team-main-box1 > #twit,.team-main-box2 > #twit,.team-main-box3 > #twit,.team-main-box4 > #twit{
        margin-left: 1%;
        color: #65bbf2;
        border-radius: 100%;
        font-size: large;
        border: 1px #65bbf2 solid;
        padding: 1%;
    }
    .team-main-box1 > #in,.team-main-box2 > #in,.team-main-box3 > #in,.team-main-box4 > #in{
        margin-left: 1%;
        color: #008bc2;
        border-radius: 100%;
        font-size: large;
        border: 1px #008bc2 solid;
        padding: 1%;
    }
    .team-main-box1 > #ytube,.team-main-box2 > #ytube,.team-main-box3 > #ytube,.team-main-box4 > #ytube{
        margin-left: 1%;
        color: #f43522;
        border-radius: 100%;
        font-size: large;
        border: 1px #f43522 solid;
        padding: 1%;
    }
    .team-main-box1 p,.team-main-box2 p,.team-main-box3 p,.team-main-box4 p{
        padding-left: 5%;
       padding-top: 2%;
    }
}


/* ---contact us-- */

.contact-box{
    background-image: url(../Image/1.jpg);
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 10%;
    background-size: cover;
    background-position: center;
    margin-top: 5%;
    background-attachment: fixed;
    text-align: center;
}
.contact-box h1{
  color: white;
  font-size: 45px;
  font-weight: 600;
  padding-top: 10%;
}
.contact-main-box{
    width: 95%;
    display: flex;
    margin-left: 5%;
    
}
.contact-main-box-L,.contact-main-box-M,.contact-main-box-R{
    width: 30%;
    height: 35vh;
    text-align: center;
    border: 3px solid #e5e5e5;
    transition: all 0.3s ease-in-out;
    /* padding: 53px 40px 59px; */
    position: relative;
    margin-left: 1%;
    margin-top: 5%;
}
.contact-main-box-L img,.contact-main-box-M img,.contact-main-box-R img{
     margin-top: -15%;
}
.contact-main-box-L h1,.contact-main-box-M h1,.contact-main-box-R h1{
    padding-top: 10%;
    font-weight: lighter;
    font-size: x-large;
    color:var(--font-color) ;
    font-family: "montserrat",sans-serif;
}

.contact-main-box-L p,.contact-main-box-M p,.contact-main-box-R p{
    padding-top: 5%;
    font-weight: lighter;
    font-family: "montserrat",sans-serif;
    padding-left: 15%;
    padding-right: 15%;
    font-size: medium;
    line-height: 30px;
    color: var(--font-color);
}
.contact-main-box-L:hover,.contact-main-box-M:hover,.contact-main-box-R:hover{
    cursor: pointer;
    margin-top: 4%;
    border: 3px solid var(--hover-color);
}
.contact-head-box{
    text-align: center;
    margin-top: 5%;
    font-size: var(--heading-font-size);
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: var(--heading-color);
}
.contact-msg-box{
    margin-top: 5%;
    margin-left: 5%;
}
.contact-msg-box i{
   font-size: x-large;
   color: var(--font-color);
   margin-left: 1%;
}
.contact-msg-box input[type=text],.contact-msg-box input[type=email]{
    border: 2px solid #e5e5e5;
    height: 50px;
    width: 28.3%;
    font-size: large;
}
.contact-msg-box textarea{
    width: 91.5%;
    height: 200px;
    margin-left: 1%;
    margin-top: 2%;
    border: 2px solid #e5e5e5;
    font-size: x-large;
    padding: 1%;
}
.contact-msg-box input[type=text]:hover,.contact-msg-box input[type=email]:hover,.contact-msg-box textarea:hover{
    border: 2px var(--hover-color) solid;
}
.contact-msg-box input[type=button]{
    background: var(--btn-color);
    border-color: var(--btn-color);
    color: #ffffff;
    display: inline-block;
    font-weight: 400;
    line-height: 50px;
    width: 15%;
    text-transform: uppercase;
    position: relative;
    border: 2px solid #fff;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    margin-left: 1%;
    margin-top: 2%;
}
.contact-msg-box input[type=button]:hover{
   background-color: var(--heading-color);
   cursor: pointer;
}

@media screen And (max-width:1102px){
    .contact-main-box{
     flex-direction: column;    
        
    }
    .contact-main-box-L,.contact-main-box-M,.contact-main-box-R{
        width: 70%;
        height: 40vh;
        margin-left: 12%;
        margin-top: 10%;
    }
    .contact-msg-box input[type=button]{
       
        width: 30%;
    }
}
@media screen And (max-width:850px){
    .contact-msg-box input[type=text],.contact-msg-box input[type=email]{
        width: 90%;
    }
    .contact-msg-box input[type=email]{
        width: 89.5%;
    }
    .contact-msg-box textarea{
        width: 88%;
        height: 200px;
        margin-left: 5%;
    }
    .contact-msg-box i{
        margin-left: 2%;
     }
     .contact-msg-box input[type=button]{
        line-height: 50px;
        width: 40%;
    margin-left: 5%;
    }
}